<h1>Here is the details of {{asteroidDetails?.name}}'s asteroid!</h1>
<div class="horizontal-scroll">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-right">Key</th>
      <th class="align-right">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td ngClass="nowrap">{{ item.key }}</td>
      <td class="align-right">{{ item.value }}</td>
    </tr>
    </tbody>
  </table>
</div>
<a href routerLink="/list" class="btn btn-info">Back to the list of asteroids</a>
